---
import { Icon } from 'astro-icon/components';

interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<button
  class:list={['group focus:outline-none', className]}
  {...rest}
  id="searchButton"
  aria-label="Открыть поле поиска"
>
  <Icon
    name="magnifier"
    class="text-gray-50 group-focus-visible:text-brand-500 lg:group-hover:text-brand-200 group-active:text-brand-400 size-full transition-colors ease-linear"
  />
</button>

<script>
  const button: HTMLButtonElement | null =
    document.querySelector('#searchButton');
  const dialog: HTMLDialogElement | null =
    document.querySelector('#searchDialog');

  if (dialog !== null && button !== null) {
    button.addEventListener('click', () => {
      dialog.showModal();
    });
  }
</script>
